// Specific CSS for your home-page
.choice {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-body {
  margin-top: 10px;
}

.home-heart {
  color: white;
  background: #eda62b;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px
}

.fa-play {
  background-color: #eda62b;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 27px;
  margin-right: 10px;
}

.card-container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
