// Import page-specific CSS files here.
@import "home";
@import "profile";

.card {
  width: 320px;
  height: auto;
  border-radius: 1%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

.header {
  height: 40px;
  width: 100%;
}
.header h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  color: #eda62b;
  border: none;
  margin-bottom: 0.5em;
}

body {
  padding-bottom: 80px;
}
