// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "sign-in";
@import "restaurant-index";
@import "search";
@import "show";
@import "user-review-show";
@import "favourites";


.header {
  height: 40px;
  width: 100%;
}
.header h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  color: #eda62b;
  border: none;
  margin-bottom: 0.5em;
}

body {
  padding-bottom: 80px;
}
