.no-profile {
  background-color: rgb(255, 243, 184);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.fa-user {
  font-size: 2.5em;
  color: darkcyan;
}

.profile-info {
  margin-top: 20px;
}

.username {
  font-size: 1.2em;
  font-weight: bolder;
}

.about {
  margin-top: 10px;
  font-size: 1em;
}

.follow-container {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.follow-info .follow-count {
  display: flex;
  justify-content: center;
}

.follow-count-text {
  margin-top: 0px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.follow-title {
  font-size: 0.8em;
  color: rgb(62, 62, 62);
  margin-bottom: 0px;
}

.profile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unfollow-btn {
  text-decoration: none;
  color: black;
  padding: 15px 30px;
  border-radius: 15px;
  border: solid 1px rgb(255, 178, 54);
  margin: 0 5px;
}

.follow-btn {
  text-decoration: none;
  color: black;
  padding: 15px 40px;
  background-color: rgb(255, 178, 54);
  border-radius: 15px;
  border: none;
  margin: 0 5px;
}

.follow-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.role-btn {
  height: 45px;
  display: flex;
  align-items: center;
}

.follow-btns {
  height: 45px;
  display: flex;
  align-items: center;
}

.add-photo-form {
  margin-top: 10px;
}

.add-photo-form .form-control {
  border-radius: 10px;
  background-color: rgb(255, 243, 184);
}


// follow list css

.follow-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.follow-profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.follow-name {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  margin-left: 20px;
}

.follow-no-profile {
  background-color: rgb(255, 243, 184);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-no-profile .fa-user {
  font-size: 1.5em;
  color: darkcyan;
}

.follow-unfollow-btn {
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  border-radius: 10px;
  border: solid 1px rgb(255, 178, 54);
  margin: 0 5px;
}

.follow-profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// follow list

.follow-search-bar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.follow-search-bar .form-control {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}

.follow-search-btn {
  width: 100px;
  border: 0px;
  background-color: rgb(255, 178, 54);
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}

// navbar profile

.navbar-no-profile {
  background-color: rgb(255, 243, 184);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-fa-user {
  font-size: 2em;
  color: darkcyan;
}

.navbar-profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

// .fill-yellow-400 {
//   color: rgb(255, 178, 54);
//   border: 1px solid gray;
// }

// .stroke-gray-400 {
//   border: 1px solid gray;
// }
