.search-card {
  background-color: whitesmoke;
  padding-bottom: 25px;
}

.search-container {
  padding: 12px 12px;
}

.active {
  color: black;
  border-bottom: 4px solid #eda62b;
}

button {
  background-color: whitesmoke;
  border: none;
  color: grey;
}

.btn-primary {
  background-color: #eda62b;
  border: none;
}

.tabbtn {
  padding-top: 10px;
}
