h3 {
  // font-size: 13px;
  font-weight: bolder;
}

.review-box {
  font-size: 13px;
  background-color:rgb(250, 244, 232);
  padding: 10px 10px;
  margin: 10px;
}

#restaurant-link {
  font-size: 1px;
  font-weight: bold;
}

a {
  font-size: 18px;
  font-family: "Nunito", "Helvetica", "sans-serif";
}
