h3 {
  // font-size: 13px;
  font-weight: bolder;
}

.review-box {
  font-size: 13px;
  background-color:rgb(250, 244, 232);
  padding: 10px 10px;
  margin: 10px;
  line-height: 1.2;
}

#restaurant-link {
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.flex gap-x-3 mb-4 {
  margin-bottom: 20px;
}

.card-rating {
  display: flex;
  align-items: center;
}
