<div class="fav-container">
  <% @favourites.each do |favourite| %>
    <div class="container-colour">
      <% restaurant = Restaurant.find_by(id: favourite.restaurant_id) %>
      <% if restaurant.photo.attached? %>
        <%= cl_image_tag restaurant.photo.key, :class => "image-show-container" %>
      <% else %>
        <div class="no-image">
          <h2>No Image</h2>
        </div>
      <% end %>
      <p id="test"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
    </div>
  <% end %>
</div>

<p class="fav-end">
  Need more ideas? <br>
  Check out your <%= link_to "Friends' Favourites", user_friends_fave_path(current_user) %>
</p>
