<ol>
  <% @favourites.each do |favourite| %>
    <% restaurant = Restaurant.find_by(id: favourite.restaurant_id) %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
  <% end %>
</ol>
