<div class="navbar sticky-top">
  <div class="back-button">
  <span><%= link_to icon('fa-solid', 'arrow-left'), :back %></span>
  </div>
  <div class="title">
    <span><%= @title %></span>
  </div>
</div>
