<div class="navbar sticky-top">
  <div class="back-button">
  <span><%= link_to icon('fa-solid', 'arrow-left'), :back %></span>
  </div>
  <div class="title">
    <span><%= @title %></span>
  </div>
  <% if user_signed_in? %>
    <div>
      <span>
        <button type="button" class="logout-btn" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </span>
    </div>
  <% else %>
    <div class="logout-btn">
      <span><%= link_to icon('fa-solid', 'arrow-right-to-bracket'), new_user_session_path %></span>
    </div>
  <% end %>
</div>

<%# logout prompt %>

<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log Out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <%= button_to("Yes", destroy_user_session_path, method: :delete, :class => 'btn btn-primary') %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
