<div data-controller="carousel" class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="card">
        <p>Slide right to view first Restaurant</p>
      </div>
    </div>
    <% @restaurants.each do |restaurant| %>
      <div class="swiper-slide">
        <div class="card">
          <%= restaurant.name %>
          <%= link_to "Details", restaurant_path(restaurant) %>
          <input type="text" data-carousel-target="bookmark" value="<%= restaurant.id %>"/>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<p>
  <center><img src="https://res.cloudinary.com/heefang/image/upload/c_scale,h_500/v1661358673/yumsphone_vgistk.png" alt="Yums App"></center>
</p>
