.fav-button {
  border: 0px;
  background-color: #f4f4f4;
  padding: 0px;
}

.bookmark {
  font-size: 24px;
  height: 24px;
}

.delete-button a {
  color:#de0505
}

.card-category {
  box-shadow: 0 0 15px rgba(42, 38, 38, 0.1);
  border-radius: 5px;
  padding: 12px 12px;
}

.image-show {
  width: 100%;
  border-radius: 2.5px;
}

h1 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  text-align: center;
  letter-spacing: 0.5px;
  border-bottom: 0.2px solid rgb(72, 65, 65);
}
h6 {
  font-weight: bolder;
  line-height: 1;
  padding: 5px 0 0px 0;
}

p {
  color: rgb(72, 65, 65);
}

#restaurant-title {
  border-bottom: 0.2px solid rgb(72, 65, 65);
}

.review {
  border-bottom: 0.2px solid rgb(72, 65, 65);
}

.review-container {
  width: 100%;
}
.reviewer {
  display: flex;
}

.review-avatar {
  width: 60px;
  text-align: center;
  font-size: 12px;
  // border: 0.2px solid rgb(72, 65, 65);
  margin-right: 5px;
}

.description {
  width: 300px;
  text-align: left;
  font-size: small;
}

.restaurant-edit {
  margin-top: 15px;
  text-align: center;
  padding: center;
  justify-content: center;
}

a {
  color: rgb(72, 65, 65);
  text-decoration: none;
}

a:hover {
  color: rgb(145, 128, 128);
}

.review-no-profile {
  background-color: rgb(255, 243, 184);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.review-profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.review-star {
  height: 20px;
}

.fill-yellow-400 {
  fill: #eda62b;
  stroke: #eda62b;
}

.stroke-gray-400 {
  stroke: rgb(123, 123, 123);
}

.avg-rating {
  margin-bottom: 2px;
  font-size: medium;
}

.restaurant-infos p {
  font-size: small;
}
