<div class="card-category">
  <div class="content">
    <% @restaurants.each do |restaurant| %>
      <div class="cards">
        <% if restaurant.photo.attached? %>
          <%= link_to restaurant_path(restaurant) do %>
            <%= cl_image_tag restaurant.photo.key, :class => "image-show" %>
          <% end %>
        <% else %>
          <div class="no-image">
            <h2>No Image</h2>
          </div>
        <% end %>
        <h4><b><%= link_to restaurant.name, restaurant_path(restaurant)  %></b></h4>
      </div>
    <% end %>
  </div>
</div>
