<div class="container text-warning">
<h1>List of Restaurants</h1>
  <ul>
    <div>
      <% @restaurants.each do |restaurant| %>
        <li>
          <h2><%= restaurant.name %><br></h2>
          <%= restaurant.address %><br>
          <%= restaurant.cuisine %><br>
          <%= restaurant.description %><br>
        </li>
      <% end %>
    </div>
  </ul>
</div>
