<div class="container text-primary">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= restaurant.name %><br>
        <%= restaurant.address %><br>
        <%= restaurant.cuisine %><br>
        <%= restaurant.description %><br>
      </li>
    <% end %>
  </ul>
</div>
