.title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  color: #f5f5f5;
  border: none;
  margin: 0 auto;
}

.back-button {
  padding-left: 1.5em;
}

.logout-btn {
  // text-decoration: none;
  color:#f5f5f5;
  background-color: #eca72c;
  font-size: 18px;
  // padding: 5px 10px;
  // border-radius: 15px;
  // margin-right: 1.5em;
  padding-right: 1.5em;
}

.btn-primary {
  background-color: #eca72c;
}

.modal-header {
  background-color: #eca72c;
}

.modal-title {
  font-size: 12px;
  font-weight: bold;
  color: #f5f5f5;
}
